html, body {
    background-color: lightslategray;
    font-family: arial;
    font-size: 20px;
}

img {
    width: 100%;
    background-color: transparent;
    align-items: centre;
}

div {
    width: 400px;
    height: 300px;
    float: right;
    align-items: centre;
    border: 25px midnightblue;
    padding: 25px;
    margin: 25px;
}

head {
    background-color: white
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    color: midnightblue; 
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: midnightblue
}

a {
    font-family: arial;
    font-size: 20px;
    text-decoration: none;
    color: midnightblue;
}


